/* Sahel Font - فونت اصلی پروژه */
@font-face {
    font-family: 'Sahel';
    src: url('/fonts/Sahel-Regular.woff2?v=3.4.0') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sahel';
    src: url('/fonts/Sahel-SemiBold.woff2?v=3.4.0') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sahel';
    src: url('/fonts/Sahel-Bold.woff2?v=3.4.0') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
