[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
#Solution to the error "You do not have the SUPER privilege and binary logging is enabled" (https://blog.pleets.org/article/en/solution-to-the-error-you-do-not-have-the-super-privilege-and-binary-logging-is-enabled)
log_bin_trust_function_creators = 1
